apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: investmentology
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/investmentology/investmentology.git
    targetRevision: HEAD
    path: k8s/overlays/production
  destination:
    server: https://kubernetes.default.svc
    namespace: investmentology
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
