apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: investmentology-api
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: investmentology-api
      spec:
        replicas: 2
        template:
          spec:
            containers:
              - name: api
                resources:
                  requests:
                    memory: "512Mi"
                    cpu: "250m"
                  limits:
                    memory: "1Gi"
                    cpu: "1000m"
